<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <!-- Handler to manage Node.js application -->
      <add name="iisNode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    
    <rewrite>
      <rules>
        <!-- Rule to rewrite all incoming requests to server.js -->
        <rule name="API" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    
    <!-- Optional configuration for better error handling and debugging -->
    <iisnode watchedFiles="*.js;*.json" loggingEnabled="true" devErrorsEnabled="true" />
  </system.webServer>
</configuration>
