<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Enable IISNode for processing Node.js requests -->
    <handlers>
      <add name="iisNode" path="server.js" verb="*" modules="iisnode" resourceType="Unspecified" />
    </handlers>
    
    <!-- Configure IISNode settings -->
    <iisnode 
      loggingEnabled="true" 
      devErrorsEnabled="true" 
      scanOnStart="true"
      debug="true" 
      logDirectory="C:\path\to\logs" />

    <!-- URL Rewrite rules to redirect requests to server.js -->
    <rewrite>
      <rules>
        <rule name="NodeJS" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
