<system.webServer>
  <handlers>
    <add name="iisNode" path="server.js" verb="*" modules="iisnode" />
  </handlers>
  <rewrite>
    <rules>
      <rule name="API" stopProcessing="true">
        <match url="(.*)" />
        <action type="Rewrite" url="server.js" />
      </rule>
    </rules>
  </rewrite>

  <!-- Disable logging to avoid issues with writing to log files -->
  <iisnode loggingEnabled="false" devErrorsEnabled="true" />
</system.webServer>
